/webapp/.build/
.classpath
.project
org.eclipse*
/.settings
/bin/
/webapp/config/deploy.properties
/webapp/config/build.properties
/webapp/config/runtime.properties
/webapp/config/debug.log4j.properties
.build
utilities/solrtester/.work
utilities/rdbmigration/.work
utilities/sdb_to_tdb/.work

**/.idea
**/*.iml
**/target

**/overlays
=======
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.svn*

